{% extends "global/base.html" %}

{% block conteudo %}

    <div class="form-wrapper">
        <div class="form-container">
            <h2>Alterar Senha</h2>

            <p class="reset-info">Digite sua senha atual e a nova senha abaixo.</p>
        
            <form class="form-reset" method="post" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
        
                <button type="submit">Alterar Senha</button>
            </form>
        
            <p class="reset-info">
                <a href="{% url 'account_reset_password' %}">Esqueceu sua senha?</a>
            </p>
        </div>
    </div>

{% endblock conteudo %}
