{% extends "global/base.html" %}

{% block conteudo %}
    <div class="form-wrapper">
        <div class="form-container">
            <h2>Redefinir Senha</h2>

            {% if user.is_authenticated %}
                <p class="reset-info">Você já está autenticado. Caso queira alterar sua senha, vá para <a href="{% url 'account_change_password' %}">Alterar Senha</a>.</p>
            {% else %}
                <p class="reset-info">Digite seu endereço de e-mail abaixo e enviaremos um link para redefinir sua senha.</p>
                <form class="form-reset" method="post" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Enviar E-mail de Redefinição</button>
                </form>
            {% endif %}
        
            <p class="reset-info">Caso tenha problemas, entre em contato conosco.</p>

        </div>
    </div>
{% endblock conteudo %}