{% extends "global/base.html" %}

{% block conteudo %}

    <div class="form-wrapper">
        <div class="form-container">
            <h2>Definir uma Nova Senha</h2>

            <p class="reset-info">Como você fez login via Google, sua conta não tem uma senha definida. Você pode definir uma agora.</p>
        
            <form class="form-reset" method="post" action="{% url 'account_set_password' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
        
                <button type="submit">Definir Senha</button>
            </form>
        </div>
    </div>

{% endblock conteudo %}