<!DOCTYPE html>
{% load static %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CR Trade</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
</head>
<body>
    {% include "global/parciais/nav.html" %}
    {% block conteudo %}{% endblock  %}

    <script> const updateCartUrl = "{% url 'produto:updatecart' %}";</script>
    <script src="{% static 'global/js/scripts.js' %}"></script>
</body>
</html>