

<div class="modal">
    <div id="close-modal"class="close-btn">✖</div>
    <div class="login-container">
        <h2>Digite os seus dados de acesso!</h2>
        <form 
            action="{% url 'perfil:login' %}"
            method="POST"
        >
            {% csrf_token %}

            <div class="login-content">
                {% for field in loginForm %}
                    <div class="login-form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}

                        {% if field.help_text %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            {% if messages %}
            <div class="login-messages">
                {% for message in messages %}
                    {% if 'error' in message.tags %}
                        <p class="message {{ message.tags }}">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

            <div class="btn-container">
                <div class="login-group">
                    <button class="btn" type="submit">Entrar</button>
                </div>
                <p class='reg'>Ainda não possui uma conta? <a href="{% url 'perfil:register' %}">Cadastre-se</a></p>
            </div>
        </form>
    </div>
</div>