{% load static %}
<nav>
    <div class="logo">
        <a href="{% url "produto:index" %}">Logo</a>
    </div>
    {% if user.is_authenticated %}
        <ul class="menu">
            <li>
                <a href="{% url "produto:cart" %}">
                    <img class="img-carrinho" src="{% static 'global/img/cart.svg' %}" alt="carrinho">
                    {% if cart_item_count > 0 %}
                        <span class="cart-count">( {{ cart_item_count }} )</span>
                    {% else %}
                        <span class="cart-count">( 0 )</span>
                    {% endif %}
                </a>
            </li>
            <img src="{% static "global/img/def_profile_img.jpg" %}" alt="Imagem de perfil" class="profile-image" id="profile-img">
        </ul>
        <div class="dropdown-menu" id="profile-dropdown">
            <ul>
                <li>
                    <img src="{% static "global/img/email.svg" %}" alt="email-icon" class="drop-icon">
                    <p>{{user.email}}</p>
                </li>
                <li>
                    <a href="">
                        <img src="{% static "global/img/order.svg" %}" alt="order-icon" class="drop-icon">
                        Meus Pedidos
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static "global/img/pass.svg" %}" alt="password-icon" class="drop-icon">
                        Trocar Senha
                    </a>
                </li>
                <li>
                    <a href="{% url "perfil:logout" %}">
                        <img src="{% static "global/img/logout.svg" %}" alt="logout-icon" class="drop-icon">
                        Deslogar
                    </a>
                </li>
            </ul>
        </div>
    {% else %}
        <ul class="menu">
            <li>
                <a href="{% url "produto:cart" %}">
                    <img class="img-carrinho" src="{% static 'global/img/cart.svg' %}" alt="carrinho">
                    {% if cart_item_count > 0 %}
                        <span class="cart-count">( {{ cart_item_count }} )</span>
                    {% else %}
                        <span class="cart-count">( 0 )</span>
                    {% endif %}
                </a>
            </li>
            <li><a id='login-modal' href=" ">Login</a></li>
            <li><a class='cadastrar' href="{% url "perfil:register" %}">Cadastrar</a></li>
        </ul>
    {% endif %}
    <div class="nav-split">
        <ul class="menu-split">
            <li>
                <a href="" id="cat-dropdown">
                <img class="menu-img" src="{% static 'global/img/menu.svg' %}" alt="menu" >
                Jogos
                </a>
            </li>
            <li>
                <a href="https://discord.com/" target="_blank" rel="noopener noreferrer">
                <img class="menu-img" src="{% static 'global/img/discord.svg' %}" alt="discord">
                Discord
                </a>
            </li>
            <li>
                <a href="{% url "produto:index" %}">
                <img class="menu-img" src="{% static 'global/img/home.svg' %}" alt="home">
                Home
                </a>
            </li>
            <li>
                <a href="https://web.whatsapp.com" target="_blank" rel="noopener noreferrer">
                <img class="menu-img" src="{% static 'global/img/wpp.svg' %}" alt="whastapp">
                WhatsApp
                </a>
            </li>
            <li>
                <a href="">
                <img class="menu-img" src="{% static 'global/img/cart2.svg' %}" alt="cart">
                Venda para nós!
                </a>
            </li>
        </ul>
    </div>
    <div class="dropdown-cat">
        <ul>
            {% for jogo in jogos %}
                <li onclick="redirectToProduct('{{ jogo.id }}')">
                    <img class="cat-img" src="{% static 'global/img/cat.svg' %}" alt="categoria">
                    <p>
                        {{jogo.nome}}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
