:root {

    --clr-white: rgb(245, 245, 255);
    --clr-black: rgb(0, 0, 30);
    --clr-darker-grey: #202020;
    --clr-medium-grey: #2B2B2B;
    --clr-light-grey: #3b3b3b;
    --clr-dark-orange: #D35400;
    --clr-light-orange: #F39C12;


  
    --biggest-font-size: 5rem;
    --bigger-font-size: 4rem;
    --big-font-size: 3.2rem;
    --medium-font-size: 2.4rem;
    --small-font-size: 1.6rem;
    --smaller-font-size: 1.4rem;
    --smallest-font-size: 1.2rem;
    --even-smallest-font-size: 1rem;
  }


@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background: var(--clr-light-grey);
  }


/*-----------------------------------------NAV-----------------------------------------*/

.nav-split {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: var(--clr-darker-grey);
    display: flex;
    align-items: center;
    padding: 0 350px;
    z-index: 1000;
    box-shadow: 1px 5px 7px rgb(20, 20, 20);
}

@media (max-width: 1200px) {
    .nav-split {
        padding: 0 250px;
    }
}

@media (max-width: 1000px) {
    .nav-split {
        padding: 0 150px;
    }
}

@media (max-width: 750px) {
    .nav-split {
        padding: 0 30px;
    }
}

.menu-split {
    width: 100%;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.menu-split li a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--clr-white);
    font-weight: bold;
    position: relative;
}

.menu-split li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--clr-dark-orange);
    text-underline-offset: 30%;
}

.menu-img {
    width: auto;
    height: 20px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.menu-split li a:hover .menu-img {
    animation: pulse 0.5s ease-in-out;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

nav .logo a {
    color: var(--clr-dark-orange);
    font-size: var(--medium-font-size);
    font-weight: bold;
    text-decoration: none;
}

nav .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav .menu li {
    margin-left: 20px;
}

nav .menu li a {
    width: 90px;
    height: 40px;
    background-color: var(--clr-dark-orange);
    color: var(--clr-white);
    font-size: var(--smaller-font-size);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
}

nav .menu .cadastrar {
    background-color: var(--clr-darker-grey);
    color: var(--clr-white);
    border: 2px solid var(--clr-dark-orange);
}

nav .menu li .cadastrar:hover {
    background-color: var(--clr-dark-orange);
    color: var(--clr-white);
}

nav .menu li a:hover {
    background-color: var(--clr-darker-grey);
    color: var(--clr-white);
    border: 2px solid var(--clr-dark-orange);
}

.img-carrinho {
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.cart-count {
    font-size: var(--small-font-size);
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(20, 20, 20);
    border-radius: 0 0 0 4px;
    width: 300px;
    z-index: 2002;
  }

.dropdown-menu.visible {
    display: block;
}

.dropdown-menu ul {
    display: block;
    list-style: none;
    padding: 10px;
    margin: 0;
}
  
.dropdown-menu ul li {
    display: inline-flex;
    width: 100%;
    margin: 5px 0;
}

.dropdown-menu ul li:first-child {
    padding: 10px;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: var(--clr-white);
    padding: 10px;
    gap: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: var(--smallest-font-size);
    font-weight: bold;
}

.dropdown-menu ul li p {
    color: var(--clr-light-grey);
    margin-left: 20px;
    text-align: center;
    align-items: center;
    font-size: var(--smallest-font-size);
    font-weight: bold;
}
  
.dropdown-menu ul li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--clr-dark-orange);
    text-underline-offset: 30%;
}

.dropdown-menu .drop-icon {
    width: 20px;
    height: 20px;
}


.dropdown-cat {
    display: none;
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(20, 20, 20);
    width: 80%;
    height: auto;
    z-index: 2001;
    border-radius: 0 0 6px 6px;
}

.dropdown-cat.visible {
    display: block;
}

.dropdown-cat ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 30px 300px;
    margin: 0;
}

@media (max-width: 1500px) {
    .dropdown-cat ul {
        padding: 30px 200px;
    }
}

@media (max-width: 1200px) {
    .dropdown-cat ul {
        padding: 20px 100px;
    }
}

@media (max-width: 800px) {
    .dropdown-cat ul {
        padding: 20px 50px;
    }
}

@media (max-width: 600px) {
    .dropdown-cat ul {
        padding: 20px 20px;
    }
}

.dropdown-cat ul li {
    text-decoration: none;
    color: var(--clr-white);
    padding: 10px;
    display: inline-flex;
    text-align: center;
    font-size: var(--smallest-font-size);
    font-weight: bold;
    background-color: var(--clr-darker-grey);
    border: solid 2px var(--clr-dark-orange);
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dropdown-cat ul li:hover {
    background-color: #303030;

}

.dropdown-cat ul li:hover .cat-img {
    animation: pulse 1s infinite;
}


/*-------------------------------------LISTA GRID-----------------------------------------*/

.master-grid {
    padding: 0 300px 0 300px;
}

@media (max-width: 1700px) {
    .master-grid {
        padding: 0 150px 0 150px;
    }
}

@media (max-width: 1250px) {
    .master-grid {
        padding: 0 100px 0 100px;
    }
}

@media (max-width: 800px) {
    .master-grid {
        padding: 0 50px 0 50px;
    }
}

@media (max-width: 600px) {
    .master-grid {
        padding: 0 10px 0 10px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
}

.grid-item {
    position: relative;
    border-radius: 8px;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 400px;
    background-color: var(--clr-darker-grey);
}

.item-icon {
    width: 100%;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-content {
    width: 100%;
    height: 130px;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.item-buy {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-img {
    max-width: 65%;
    max-height: 65%;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.item-img:hover {
    transform: scale(1.15);
}

.item-buy button {
    background-color: var(--clr-dark-orange);
    border: none;
    border-radius: 6px;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: var(--smaller-font-size);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    color: var(--clr-white)
}

.item-buy button:hover{
    background-color: var(--clr-darker-grey);
    color: var(--clr-white);
    border: 2px solid var(--clr-dark-orange);
}

.item-buy .btn-carrinho {
    width: 20px;
    height: auto;
    display: inline-block;
}

.item-description {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: var(--small-font-size);
    font-weight: bold;
    color: var(--clr-white);
}

.btn-multiplay{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-prices{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.price-value{
    font-size: var(--medium-font-size);
    font-weight: bold;
    color: rgb(68, 187, 53);
}

.price-promo-value{
    font-size: var(--small-font-size);
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: rgb(143, 143, 143);
}


/*---------------------------------------INDEX---------------------------------------*/


.container {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 120%), #272727;
    color: var(--clr-white);
    padding: 40px;
    overflow: hidden;
}

@media (max-width: 500px) {
    .container {
        padding: 10px;
    }
}

.c-header {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (min-width: 800px) {
    .c-header {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .c-header {
        width: 80%;
    }
}

@media (min-width: 1500px) {
    .c-header {
        width: 70%;
    }
}

.c-header h1 {
    font-size: var(--bigger-font-size);
    color: var(--clr-dark-orange);
    padding-bottom: 20px;
    font-weight: bold;
}

@media (max-width: 500px) {
    .c-header h1 {
        font-size: var(--medium-font-size);
    }
}

@media (max-width: 500px) {
    .c-header h2 {
        font-size: var(--smallest-font-size);
    }
}

.bau {
    width: 200px;
    height:fit-content;
}

@media (max-width: 500px) {
    .bau {
        width: 100px;
        height:fit-content;
    }
}

.c-header h1, .c-header h2 {
    opacity: 0;
    animation: slideInLeft 1.3s ease-out forwards;
}

.c-header h2 {
    animation-delay: 0.4s;
}


@keyframes bounceIn {
    0% {
        transform: scale(0.8) translateY(-20px);
        opacity: 0;
    }
    50% {
        transform: scale(1.05) translateY(5px);
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

.bau {
    opacity: 1;
    animation: bounceIn 1.2s ease-out forwards;
    filter: drop-shadow(0px 0px 10px rgba(255, 153, 0, 0.6));
}

.im-div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    margin-top: 8px;
    font-size: var(--small-font-size);
}

/*---------------------------------------CAROUSEL---------------------------------------*/



.carousel-container {
    width: 100%;
    padding: 0 300px;
}

@media (max-width: 1400px) { 
    .carousel-container {
        padding: 0 200px
    }
}

@media (max-width: 1200px) { 
    .carousel-container {
        padding: 0 100px
    }
}

@media (max-width: 800px) { 
    .carousel-container {
        padding: 0 50px
    }
}

@media (max-width: 600px) { 
    .carousel-container {
        padding: 0 20px
    }
}

.carousel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 10px;
    flex-grow: 1;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 calc(33.33% - 20px);
    min-width: calc(33.33% - 20px);
    height: 300px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: transform 0.2s ease-in-out;
}


@media (max-width: 1024px) { 
    .carousel-item {
        flex: 0 0 calc(50% - 20px);
        min-width: calc(50% - 20px);
    }
}

@media (max-width: 600px) { 
    .carousel-item {
        flex: 0 0 100%;
        min-width: 100%;
    }
}

.carousel-item:hover {
    cursor: pointer;
}

.carousel-item p {
    position: absolute;
    top: 80%;
    font-size: var(--medium-font-size);
    color: var(--clr-white);
    text-shadow: 2px 3px 1px rgb(0, 0, 0) ;
}

.jogo-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: brightness(80%);
    transition: filter 0.3s ease-in-out;
}

.jogo-img:hover{
    filter: brightness(135%);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #d35400a2;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 2;
    transition: 0.3s;
}

.left {
    left: 0px;
}

.right {
    right: 0px;
}

.arrow:hover {
    background: #d35400d2;
}

@media (max-width: 1024px) {
    .left {
        left: 5px;
    }

    .right {
        right: 5px;
    }
}


/*---------------------------------------CARRINHO---------------------------------------*/

.cart-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: var(--clr-medium-grey);
    border-radius: 8px;
    padding: 10px;
    width: 350px;
}

@media (min-width: 600px) {
    .cart-container {
        width: 450px;
    }
}

@media (min-width: 800px) {
    .cart-container {
        width: 600px;
    }
}

@media (min-width: 1200px) {
    .cart-container {
        width: 700px;
    }
}


.cart-container h2 {
    text-align: center;
    color: #D35400;
    font-size: var(--medium-font-size);
    font-weight: bold;
}

.cart-container table {
    color: var(--clr-white);
    padding: 10px 0 10px 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 800px) {
    .cart-container table {
        width: 90%;
    }
}

.cart-container table thead {
    font-size: var(--small-font-size);
    font-weight: bold;
}

.cart-container table tbody {
    text-align: center;
}

.cart-container td:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-container .btn-update-cart {
    width: 30px;
    height: 30px;
    background-color: var(--clr-dark-orange);
    color: var(--clr-white);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: unset;
}

.cart-container .btn-update-cart:hover{
    background-color: var(--clr-darker-grey);
    color: var(--clr-white);
    border: 2px solid var(--clr-dark-orange);
}

.cart-container img {
    display: block;
    max-width: 50px;
    height: auto;
}

.cart-container p {
    text-align: center;
    font-size: var(--medium-font-size);
    font-weight: bold;
    color: rgb(68, 187, 53);
}

.cart-btn{
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.continuar {
    width: 130px;
    height: 40px;
    background-color: var(--clr-dark-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: var(--clr-white);
    font-size: var(--smaller-font-size);
    font-weight: bold;
    text-decoration: none;
    line-height: 0.9;
}

.continuar:hover {
    background-color: var(--clr-darker-grey);
    color: var(--clr-white);
    border: 2px solid var(--clr-dark-orange);
}

.finalizar {
    width: 130px;
    height: 40px;
    background-color: var(--clr-darker-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: solid 2px var(--clr-dark-orange);
    color: var(--clr-white);
    font-size: var(--smaller-font-size);
    font-weight: bold;
    text-decoration: none;
}

.finalizar:hover {
    background-color: var(--clr-dark-orange);
    color: var(--clr-white);
}

.btn-lixeira {
    width: 25px;
    transition: all 0.2s ease-in-out;
}

.btn-lixeira:hover {
    filter: brightness(1.4);
    cursor: pointer;
}

.tddd {
    border: none;
    background-color: var(--clr-medium-grey);
}

/*---------------------------------------FORMS---------------------------------------*/

.form-container {
    background-color: var(--clr-medium-grey);
    border-radius: 6px;
    margin-top: 8px;
  }
  
.form-wrapper h2 {
    color: var(--clr-dark-orange);
    display: flex;
    justify-content: center;
    padding: 15px;

}

.form-wrapper {
    max-width: 30rem;
    margin: 0 auto;
    padding-top: 125px;
}

@media (min-width: 600px) {
.form-wrapper {
    max-width: 50rem;
}
}

@media (min-width: 900px) {
.form-wrapper {
    max-width: 60rem;
}
}

@media (min-width: 1300px) {
.form-wrapper {
    max-width: 70rem;
}
}

.form-content {
    margin: 1.5rem auto;
    padding: 0px 20px 0px 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-radius: 4px;
}

.form-group input {
    border-radius: 4px;
    height: 32px;
    border-style: unset;
    padding: 5px;
}

.form-group textarea {
    border-radius: 4px;
    height: 64px;
    border-bottom-style: inset;
    padding: 5px;
    resize: none;
}

.form-group label {
    color: var(--clr-dark-orange);
    font-size: var(--smaller-font-size);
    font-weight: bold;
}

.form-group button {
    border-radius: 4px;
    height: 32px;
    border-style: unset;
    color: var(--clr-white);
    background-color: var(--clr-darker-grey);
    font-size: var(--small-font-size);
    font-weight: bold;
    border: solid 2px var(--clr-dark-orange);
    transition: transform 0.1s ease;
}

.form-group button:hover {
    cursor: pointer;
    color: var(--clr-white);
    background-color: var(--clr-dark-orange);
}

.form-group span {
    width: 100%;
}

.errorlist {
    list-style: none;
    font-size: var(--smallest-font-size);
    color: rgb(255, 74, 74)
}
.errorlist.nonfield {
    color: inherit;
}

.help-text, .help-text ~ ul {
    font-size: 11px;
    list-style: none;
    color: var(--clr-white);
}


/*------------------------------------LOGIN MODAL--------------------------------------*/

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    align-items: center;
    justify-content: center;
    background-color: var(--clr-darker-grey);
    box-shadow: 0px 0px 10px 1px var(--clr-dark-orange);
    width: 90%;
    height: auto;
    z-index: 9999;
    border-radius: 8px;
    padding: 20px;
}

@media (min-width: 600px) {
    .modal {
        width: 75%;
    }
    }

@media (min-width: 800px) {
    .modal {
        width: 65%;
    }
    }

@media (min-width: 900px) {
    .modal {
        width: 55%;
    }
    }

@media (min-width: 1100px) {
    .modal {
        width: 45%;
    }
    }

@media (min-width: 1300px) {
    .modal {
        width: 35%;
    }
    }

.login-container h2 {
    text-align: center;
    font-size: var(--medium-font-size);
    font-weight: bold;
    color: var(--clr-dark-orange);
    margin-bottom: 23px;
}

.close-btn {
    text-align: right;
    margin-right: 10px;
    font-size: var(--medium-font-size);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--clr-dark-orange);
}

.close-btn:hover {
    filter: brightness(1.2);
}

.login-form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-radius: 4px;
}

.login-form-group input {
    border-radius: 4px;
    height: 32px;
    border-style: unset;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    background-color: rgb(180, 180, 180);
}

.login-form-group input:hover {
    filter: brightness(1.2);
}

.login-form-group label {
    color: var(--clr-white);
    font-size: var(--smaller-font-size);
    font-weight: bold;
}

.login-group button {
    border-radius: 4px;
    width: 100%;
    height: 32px;
    border-style: unset;
    color: white;
    background-color: var(--clr-dark-orange);
    font-size: var(--small-font-size);
    font-weight: bold;
    cursor: pointer;
}

.btn-container {
    margin-top: 25px;
}

.login-group button:hover {
    filter: brightness(1.1);
}

.login-form-group span {
    width: 100%;
}

.reg {
    margin-top: 5px;
    color: var(--clr-white);
}

.reg a {
    color: var(--clr-dark-orange);
    text-decoration: none;
}

.login-messages {
    color: red;
    font-weight: bold;
}

/*---------------------------------------MESSAGES---------------------------------------*/

#messages {
    position: fixed;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1005;
    width: 40%;
    max-width: 250px; 
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: var(--smaller-font-size);
    font-weight: bold;
}
.alert.error {
    background: #ca5751da;
    border: 2px solid #FF5E57;
    color: #FF5E57;
}

.alert.success {
    background: #51ca69da;
    border: 2px solid #57FF85;
    color: #57FF85;
}

.alert.warning {
    background: #caa751da;
    border: 2px solid #FFD157;
    color: #FFD157;
}

.alert.info {
    background: #5174cada;
    border: 2px solid #5785FF;
    color: #5785FF;
}

/*------------------------------------DETALHE PEDIDO--------------------------------------*/


.main-shifted {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .main-shifted {
        flex-direction: column;
    }

    .info-container, .pedido-container {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.pedido-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--clr-medium-grey);
    margin: 10px;
    border-radius: 6px;
}

.pedido-content {
    flex: 1;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--clr-light-grey);
    border-radius: 2px;
}

.pedido-content ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: solid 2px var(--clr-medium-grey);
}

.pedido-content ul li:last-child {
    border-bottom: none;
}

.pedido-content ul li img {
    margin-right: 10px;
}

.pedido-content ul li p {
    margin: 0 10px;
    flex: 1;
    text-align: center;
}

.pedido-content ul li p {
    font-size: var(--smaller-font-size);
    color: var(--clr-white);
}

#tpreco {
    font-weight: bold;
    color: rgb(68, 187, 53);
}

.pedido-content ul {
    padding: 0;
}

.pedido-content h1 {
    text-align: center;
    font-size: var(--medium-font-size);
    font-weight: bold;
    color: var(--clr-dark-orange);
}

.pedido-detail {
    flex: 1;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    background-color: var(--clr-light-grey);
    border-radius: 2px;
}

.pedido-detail h1 {
    text-align: center;
    font-size: var(--medium-font-size);
    font-weight: bold;
    color: var(--clr-dark-orange);
}

.detalhes {
    padding: 10px;
    border-bottom: solid 2px var(--clr-medium-grey);
    margin-bottom: 30px;
}

.detalhes li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--smaller-font-size);
    color: var(--clr-white);
}

.payment-options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.payment-options label {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.payment-options input[type="radio"] {
    position: absolute;
    top: 22%;
    left: 9%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.payment-options img {
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
}

.btn-pagar {
    background-color: var(--clr-dark-orange);
    border: 2px solid var(--clr-dark-orange);
    border-radius: 6px;
    padding: 12px 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: var(--small-font-size);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    color: var(--clr-white);
    width: 100%;
    margin: 15px 0 15px 0;
    gap: 10px;
}

.btn-pagar:hover{
    background-color: var(--clr-darker-grey);
    color: var(--clr-white);
    border: 2px solid var(--clr-dark-orange);
}

.btn-pagar img {
    display: inline-block;
    width: 35px;
    justify-content: center;
}




.info-container {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--clr-medium-grey);
    margin: 10px;
    border-radius: 6px;
}

.info-container h1{
    text-align: center;
    font-size: var(--medium-font-size);
    font-weight: bold;
    color: var(--clr-dark-orange);
}

.info {
    padding: 20px;
    list-style: none;
}

.info li {
    padding: 5px;
}

.info li h2{
    color: var(--clr-dark-orange);
    font-size: var(--small-font-size);
    font-weight: bold;
}

.info li p{
    color: var(--clr-white);
    font-size: var(--smallest-font-size);
}

.info li p a{
    color: var(--clr-light-orange);
}

/*-------------------------------------LISTA HEADER-----------------------------------------*/


.area-container {
    margin-top: 135px;
    display: block;
    width: 100%;
    height: auto;
    background-color: var(--clr-medium-grey);
}

.area-container ul{
    display: flex;
}

.area {
    padding: 20px;
    list-style: none;
}

.area li a {
    font-size: var(--smallest-font-size);
    color: var(--clr-dark-orange);
    text-decoration: none;
}

.area li a:hover {
    color: var(--clr-light-orange);
}

.area li:not(:first-child)::before {
    content: ">";
    font-size: var(--smallest-font-size);
    margin: 0 10px;
    color: var(--clr-dark-orange);
}

.type-filter {
    padding: 20px;
}

.type-filter ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.type-filter ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: var(--smaller-font-size);
    color: var(--clr-white);
    background-color: var(--clr-darker-grey);
    border: solid 2px var(--clr-dark-orange);
    border-radius: 6px;
    width: 100px;
}

.type-filter ul li:hover {
    cursor: pointer;
    background-color: var(--clr-light-grey);
}