{% extends "global/base.html" %}
{% load static %}
{% block conteudo %}


<section class="page-container">
    <div class="block-widget">
        <h2>Nossos Contatos</h2>
        <p>
            Com uma equipe dedicada, estamos sempre disponíveis para solucionar e resolver qualquer problema. Basta entrar em contato por alguns dos nossos meios e nos dizer como podemos te ajudar.
        </p>
        <p>
            <a href="">
                <img class="social-img" src="{% static 'global/img/wpp-color.svg' %}" alt="whastapp">
                WhatsApp
            </a>
        </p>
        <p>
            <a href="">
                <img class="social-img" src="{% static 'global/img/discord-color.svg' %}" alt="discord">
                Discord
            </a>
        </p>
    </div>
</section>

{% endblock  %}