{% extends "global/base.html" %}
{% load static %}
{% block conteudo %}
<div class="container">
    <div class="c-header">
        <div>
            <h1>
                Sua Loja de Gamecoins!
            </h1>
            <h2>
                Desde 2021 trazendo Gamecoins para você! Na nossa loja, 
                você encontra gamecoins e serviços para diversos jogos com segurança, 
                rapidez e os melhores preços. 
                Garanta suas gamecoins agora e eleve sua experiência no jogo!
            </h2>
        </div>
        <img class="bau" src="{% static 'global/img/bau.webp' %}" alt="bau">
    </div>
</div>
<div class="im-div">
    <h2> Jogos que atendemos!</h2>
</div>
<div class="carousel-container">
    <div class="carousel-wrapper">
        <button class="arrow left" onclick="scrollCarousel(-1)">&#10094;</button>
        <div class="carousel">
            {% for jogo in jogos %}
                <div class="carousel-item" onclick="redirectToProduct('{{ jogo.id }}')">
                    <img class="jogo-img" src="{{ jogo.imagem.url }}" alt="jogo-img">
                    <p>{{ jogo.nome }}</p>
                </div>
            {% endfor %}
        </div>
        <button class="arrow right" onclick="scrollCarousel(1)">&#10095;</button>
    </div>
</div>
<section class="porque-nos-escolher">
    <h2 class="titulo">Por que escolher nossa loja?</h2>
    <div class="card-container">
        <div class="card">
            <div>
                <img src="{% static "global/img/shield.svg" %}" alt="Segurança">
            </div>
            <div>
                <h3>Segurança Garantida</h3>
                <p>Transações protegidas e 100% confiáveis.</p>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="{% static "global/img/truck.svg" %}" alt="Entrega">
            </div>
            <div>
                <h3>Entrega Rápida</h3>
                <p>Receba suas gamecoins em poucos minutos.</p>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="{% static "global/img/support.svg" %}" alt="Suporte">
            </div>
            <div>
                <h3>Suporte</h3>
                <p>Atendimento ágil e sempre disponível.</p>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="{% static "global/img/preco.svg" %}" alt="Preço">
            </div>
            <div>
                <h3>Melhor Preço</h3>
                <p>Valores justos e promoções frequentes.</p>
            </div>
        </div>
    </div>
</section>

{% endblock  %}